[include mainsail.cfg]
[include shell_command.cfg]
# **********************************************************************************
# Definición de la Impresora
# **********************************************************************************

#[printer]
#kinematics: cartesian
#max_velocity: 600 #300 #600
#max_accel: 1600 #3000 #3000
## max_accel_to_decel: 2000 # 20231103 # 20240314 Obsoleto debe desaparecer
#max_z_velocity: 20 #5 #20
#max_z_accel: 200 #100 #200
#square_corner_velocity: 4.5 #5.0
##max_velocity: 1000
##max_accel: 1000

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
max_z_velocity: 10
max_z_accel: 1000
square_corner_velocity: 5.0


# **********************************************************************************
# Mainsail y Fluidd
# **********************************************************************************

[virtual_sdcard]
path: /home/joaquin/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

# **********************************************************************************
# Macros, including folders, Cualquier fichero que haya dentro de esas carpetas, queda incluido
# **********************************************************************************

[include ./macros/*.*]  # Abre el acceso a incluir todo lo que haya en el directorio de macros

[include ./leds/*.*]  # Abre el acceso a incluir todo lo que haya en el directorio de leds

#[include adxl.cfg] # Comment this out when you disconnect the accelerometer

#[include KAMP_Settings.cfg] #KAMP

#[include ./AFS/*.*]
[include ./AFS/afs_globals.cfg]
[include ./AFS/afs_filament.cfg]
[include ./AFS/afs_m600.cfg]

# **********************************************************************************
# Ajustes diversos, aunque necesarios
# **********************************************************************************

[exclude_object]

[print_stats]

[pause_resume]
recover_velocity: 50.0

[display_status]

[gcode_arcs]
resolution: 0.1

# **********************************************************************************
# Bltouch
# **********************************************************************************

#[bltouch]
#sensor_pin: PC14 # this is unique to your mainboard
#control_pin: PA1  #this is unique to your mainboard
#probe_with_touch_mode: false               # Activar para BL-Touch v3.0 ORIGINAL #nuevo
#stow_on_each_sample: true #nuevo
#pin_up_touch_mode_reports_triggered: false #nuevo
#pin_up_reports_not_triggered: True #nuevo
#x_offset: -42 #42         #this needs to be calibrated
#y_offset: 0 #1
#samples: 2
#speed: 3 #2
#sample_retract_dist: 5 #nuevo
#samples_tolerance: 0.1 #0.03 #nuevo
#samples_tolerance_retries: 5 #nuevo
#samples_result: average #median #nuevo
#z_offset = 2.297#1.799
#z_offset: 1.947 #3.300

# **********************************************************************************
# MicroProbe
# **********************************************************************************

#[gcode_macro Probe_Deploy]
#gcode:
#    SET_PIN PIN=probe_enable VALUE=1

#[gcode_macro Probe_Stow]
#gcode:
#    SET_PIN PIN=probe_enable VALUE=0

#[output_pin probe_enable]
#pin: PA1         # Change this to the Servo/control pin number for your board.
#value: 0

#[probe]
#pin: ^!PC14         # Change this to the Probe/Z- pin number for your board. Remove the ! for V1 probes.
#deactivate_on_each_sample: False
#x_offset: -40.0                    # Change the probe offsets to meet your machine requirements.
#y_offset: 0
##z_offset = 1.104
#speed: 5.0
#samples: 2
##sample_retract_dist: 2.0
#samples_tolerance: 0.05
#samples_tolerance_retries: 3
#activate_gcode:
#    Probe_Deploy
#    G4 P500
#      # allow time for probe to deploy before homing Z
#deactivate_gcode:
#    Probe_Stow

# **********************************************************************************
# Eddy ng
# **********************************************************************************

[mcu eddy]
# FOR USB: replace this with your serial port ID
# FOR CANBUS: replace this with your canbus UUID
serial: /dev/serial/by-id/usb-Klipper_rp2040_504450593069E11C-if00
restart_method: command
is_non_critical: True

[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: -45 #-42 # INSERT VALUE FOR YOUR PROBE POSITION
y_offset: 14 #0 # INSERT VALUE FOR YOUR PROBE POSITION 
# --- Ajustes para Estabilidad ---
tap_samples: 7
tap_max_samples: 15
tap_samples_stddev: 0.030
#tap_samples: 20          # Aumentado para mejor promedio (def: 10)
#tap_max_samples: 50      # Reintenta más veces antes de fallar
#tap_samples_stddev: 0.080 # Umbral tolerante para tu error de 0.055

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26


# **********************************************************************************
# Eddy ng
# **********************************************************************************

#####################################################################
# Sensor de fin de filamento
#####################################################################

[filament_switch_sensor runout]

switch_pin: ^PC15
pause_on_runout: False

runout_gcode:
    M117 Sin filamento
    M600

insert_gcode:
    M117 Filamento detectado

#####################################################################
# Sensor de fin de filamento
#####################################################################

[safe_z_home]
home_xy_position: 162, 114 #156, 108 #114,104 #78,108.50 #115,117.50 #this should be the center of your bed
speed: 50 
z_hop: 10
z_hop_speed: 5

[bed_mesh]
speed: 200
horizontal_move_z: 2
mesh_min: 12,40 #5, 19 #-41, -1 #10, 10       #!!min and max co-ords are based on the probes location not the nozzle!!
mesh_max: 181, 213 #186, 208 #228, 208 #230, 219  #needs to be calibrated for your individual printer
probe_count: 10, 10 #5,5 #this is the number of probing points on X then Y axis
algorithm: bicubic
#mesh_pps: 2,2
#fade_start: 1.0
#fade_end: 10
#fade_target: 0

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 39.74 #39.72 #40
endstop_pin: ^PC0
position_endstop: 226 #228 #0
position_max: 226 #228 #235
#position_min: -2
homing_speed: 50

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 39.79 #39.8 #40
endstop_pin: ^PC1
position_endstop: 218 #225 #235 #208 #0
position_max: 218 #225 #235 #208 #235
position_min: -12 #-18
homing_speed: 50

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4 #5.56 #4 #4.42 #4 #4 #8
full_steps_per_rotation: 200 # 200 para motores de 1.8° (estándar Creality)
                             # 400 si tuvieras motores de 0.9° (alta precisión)
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 310 #250
position_min: -5           # Permite que el eje baje para calibrar el Eddy
homing_speed: 8            # Velocidad segura para homing con sensor inductivo


[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
#microsteps: 16
#rotation_distance: 7.712#33.500
#nozzle_diameter: 0.400
#filament_diameter: 1.750
microsteps:16
rotation_distance: 5.780 #5.7 ##rotation_distance: 23.967
#gear_ratio: 50:17
full_steps_per_rotation: 200  #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
max_extrude_cross_section: 5
#control: pid
#pid_Kp: 14.669
#pid_Ki: 0.572
#pid_Kd: 94.068
min_temp: 0
max_temp: 280
max_extrude_only_distance: 500

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999
sense_resistor: 0.110

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999
sense_resistor: 0.110

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.650 #0.580      # Corriente recomendada para el motor Z
interpolate: False             # Mantener en False para evitar desfases en Kalico
hold_current: 0.500
stealthchop_threshold: 999999
sense_resistor: 0.110

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999
sense_resistor: 0.110

[heater_bed]
heater_pin: PC9
sensor_type: EPCOS 100K B57560G104F #ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan heatbreak_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4C0030000950414733303120-if00
#serial: /dev/ttyS5 #/dev/ph-uart5
#serial: /dev/ttyAMA0
restart_method: command

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[output_pin BEEPER_Pin]
#pin: gpiochip0/PI13 #rpi:gpio261 # for Raspberry Pi
#pin: host:gpio22
#pwm: True
#pwm: False

[skew_correction]

[screws_tilt_adjust]
screw1: 69,20 #73,20
screw1_name: front left screw
screw2: 228,20
screw2_name: front right screw
screw3: 228,193
screw3_name: rear right screw
screw4: 69,193 #,193
screw4_name: rear left screw
horizontal_move_z: 10
speed: 100
screw_thread: CW-M4

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.
#[include eddy.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.060
#*# pid_ki = 1.737
#*# pid_kd = 46.956
#*# pid_version = 1
#*# pid_target = 210.00
#*# pid_tolerance = 0.0200
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 38.434
#*# pid_ki = 0.569
#*# pid_kd = 649.055
#*# pid_version = 1
#*# pid_target = 60.00
#*# pid_tolerance = 0.0200
#*#
#*# [input_shaper]
#*# shaper_type_x = 2hump_ei
#*# shaper_freq_x = 58.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 40.0
#*#
#*# [skew_correction CaliFlower]
#*# xy_skew = 0.0
#*# xz_skew = 0.0
#*# yz_skew = 0.0
#*#
#*# [bed_mesh defaultold]
#*# version = 1
#*# points =
#*# 	-0.542100, 0.115617, 0.061673, -0.065221, -0.087120, -0.115874, -0.115874, -0.105828, -0.131452, -0.127779
#*# 	-0.489049, 0.042743, 0.035343, -0.038548, -0.056868, -0.074794, -0.057190, -0.050661, -0.060463, 0.006927
#*# 	-0.458037, -0.068214, -0.078056, -0.045042, -0.050661, -0.035593, -0.017448, -0.006668, 0.006958, -0.019175
#*# 	-0.548297, -0.100654, -0.093412, -0.064605, -0.047975, -0.032072, -0.013351, -0.001158, -0.003189, 0.051826
#*# 	-0.481907, -0.100694, -0.086778, -0.047082, -0.030897, -0.013068, 0.005213, 0.016470, 0.021892, 0.020189
#*# 	-0.519720, -0.081068, -0.068792, -0.031184, -0.010429, -0.001720, 0.011841, 0.026496, 0.029336, 0.065917
#*# 	-0.477550, -0.084376, -0.071215, -0.025044, -0.010147, -0.001156, 0.024487, 0.041608, 0.034201, 0.023623
#*# 	-0.475454, -0.056005, -0.042078, -0.005509, 0.008111, 0.013273, 0.025632, 0.035614, 0.035343, 0.053782
#*# 	-0.449508, -0.068502, -0.047688, -0.017730, 0.005213, 0.012713, 0.034483, 0.054635, 0.057194, 0.045563
#*# 	-0.480063, -0.090093, -0.068502, -0.035593, -0.026499, -0.027668, -0.004066, 0.034169, 0.043015, 0.034787
#*# min_x = 5.0
#*# max_x = 185.99
#*# min_y = 5.0
#*# max_y = 207.95000000000005
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [bed_mesh default2]
#*# version = 1
#*# points =
#*# 	-23.197183, -22.436693, -21.589370, -20.715438, -4.532581, -4.501502, -4.678837, -4.812526, -17.279885, -22.042410
#*# 	-0.417832, 0.076885, 0.040222, -0.068084, -0.039293, -0.015707, -0.012954, 0.004258, 0.015150, 0.012431
#*# 	-0.443277, 0.098026, 0.086798, -0.021220, -0.022661, 0.012431, 0.015150, 0.034087, 0.078891, 0.107841
#*# 	-0.477438, -0.003289, -0.006030, -0.044863, -0.023983, 0.009709, 0.017866, 0.044193, 0.085533, 0.122176
#*# 	-0.496776, -0.044196, -0.036512, -0.047655, -0.014391, 0.020578, 0.030097, 0.047624, 0.087531, 0.120835
#*# 	-0.467442, -0.034397, -0.017801, -0.026084, -0.000551, 0.028046, 0.038823, 0.058307, 0.095407, 0.122176
#*# 	-0.459805, -0.023983, -0.009548, -0.017142, 0.015150, 0.045585, 0.044193, 0.050940, 0.090160, 0.113675
#*# 	-0.427630, -0.006030, 0.006987, -0.003289, 0.015799, 0.040222, 0.042907, 0.048264, 0.077621, 0.093416
#*# 	-0.382406, 0.020578, 0.028691, 0.015150, 0.042261, 0.068304, 0.058307, 0.055640, 0.081530, 0.085533
#*# 	-0.324693, 0.068942, 0.078891, 0.055640, 0.065649, 0.082899, 0.074977, 0.071593, 0.085533, 0.088163
#*# min_x = 5.0
#*# max_x = 180.95
#*# min_y = 19.0
#*# max_y = 212.95
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.105130, 0.024692, -0.051576, -0.121682, -0.089372, -0.064598, -0.068084, -0.054041, -0.040746, -0.059647
#*# 	-0.070900, 0.085533, 0.025989, -0.051242, -0.061785, -0.033073, -0.026084, 0.002180, 0.037533, 0.068942
#*# 	-0.134759, -0.008115, -0.034397, -0.070900, -0.054041, -0.015049, -0.015707, 0.010364, 0.055640, 0.090160
#*# 	-0.151524, -0.060315, -0.065267, -0.056841, -0.040746, -0.008115, 0.009709, 0.034087, 0.075613, 0.105865
#*# 	-0.155982, -0.056841, -0.054707, -0.045656, -0.017801, 0.020578, 0.022255, 0.044944, 0.086798, 0.116992
#*# 	-0.119484, -0.030962, -0.023322, -0.012297, 0.006987, 0.036779, 0.042907, 0.066288, 0.103255, 0.127347
#*# 	-0.113731, -0.017801, -0.012297, -0.003289, 0.020578, 0.052970, 0.048264, 0.064270, 0.101271, 0.123424
#*# 	-0.078705, 0.010364, 0.009709, 0.020578, 0.031391, 0.058947, 0.060970, 0.070955, 0.096037, 0.112422
#*# 	-0.037176, 0.042907, 0.042907, 0.048264, 0.068942, 0.096037, 0.084900, 0.087531, 0.113050, 0.121550
#*# 	0.012431, 0.092785, 0.090160, 0.090160, 0.095407, 0.116992, 0.106492, 0.108471, 0.126010, 0.126726
#*# x_count = 10
#*# y_count = 10
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 181.0
#*# min_y = 40.0
#*# max_y = 212.98
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16, 17, 15
#*# calibration_version = 5
#*# reg_drive_current = 16
#*# tap_drive_current = 16
#*# calibration_16 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUNS6GhDB9vU/Ige2lN2D/D/SiWFTZ3PlP5wamHFrJ94/C1WobBhb3D+1/2zuJ8u+P7Bhb8EmwsC/uEoj59fLjL97ojcFYbLDPx97DzUhYME/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQsn0fHKW3lD6VPd2eLiaVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQRWXQ/+OWGkDX1ZFu2PYIQGWyxVRpuvo/wnwuIk0b+z/R7cgxUOnqP65jjPGYl/i/WgbnzCiyt79imEzJa/IFQL1THOCMsOg/1guL13Wx5r+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEDAt5sOoIpU+QoIX9Lc5lT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BENuZGOwqVPl+GPLdduCY+b1xG4jQ5HL4NGFTUnykRPncxQ9rWdv097KzI5iBNGb4gVx7m2cYQvskXpPzlaiI+BAYeSQv4Az7Y+IlNK58SvpR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQqMMGW6iaZj80g2YouP8TQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/ZpqoWwbDqEdALf79NGNFvGWMB2ZfcmFuZ2WUXZQoR0FIHzl4e1AAR0FItqyC6RgAZYwCZGOUSxB1Lg==
#*# calibration_17 = gASV6gIAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUMT4EH9pZvY/k4RUl98Q+j8cn47WlL3tPxS6h/rK18W/DNZeGDCt9b8GC5xGNSAIQDJA3SdXIQlAZUgUyfv6E8ArcXoS8Fn8v+4E90wmhQZAlHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQsND0l/7ElD4M/ij1bFmVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUTowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1AoQnyhvTCVPj+8BOtEmDA+pCpdBlM+Jr4/k4qf1U0ZPnyBj1h31SI+VO1MMCtSJ75MLNx+DjU6vnAsW7ouwjo+fu8NI0myMz5bgdhK160zvpR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ4Gj2aqWEQz80Bq4choMSQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/Q4SlavZo4EdAEoOGHK4GNGWMB2ZfcmFuZ2WUXZQoR0FH+2ZOG2gAR0FIpsoPGagAZYwCZGOUSxF1Lg==
#*# calibration_15 = gASVywMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwWbnVtcHkuX2NvcmUubXVsdGlhcnJheZSMDF9yZWNvbnN0cnVjdJSTlIwFbnVtcHmUjAduZGFycmF5lJOUSwCFlEMBYpSHlFKUKEsBSwqFlGgMjAVkdHlwZZSTlIwCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYolDUNu8EuYl3v0/1Wqb7pTQ/D+sS4Xewg7hPzOxzON39LU/rbyZ04y83T/EsL3yNBLvP5myQlit9dO/mQoqF0PC8b/uZ0ajDjzIP2YlVZdUOeA/lHSUYowGZG9tYWlulGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQl28NsSjNlD4j5wyl+wyVPpR0lGKMBndpbmRvd5RoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRijAdfc3ltYm9slIwBeJSMBnN5bWJvbJRoLHVijAlmdG9oX2hpZ2iUaAUpgZR9lChoCGgLaA5LAIWUaBCHlFKUKEsBSwqFlGgYiUNQGYBRmGICG0DR3N50+MUJQFg4+6vf6Pg/hGoG3fNxAEBpFDPc1Sb3P7aQ2oTJKgbAghjz+O8F579dhYCTJ58SQLjJt/NOle0/BTMnnpWX+7+UdJRiaB1oC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAe/3MEvCpU+1n8CRp0dlT6UdJRiaCRoC2gOSwCFlGgQh5RSlChLAUsChZRoGIlDEAAAAAAAAPC/AAAAAAAA8D+UdJRiaCtoLGgtaCx1YowEaHRvZpRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1A/lYwOafqUPvHh6ycasRw+nZyMwTFbDL6Wp+mC9n3SPaLlZNLZKO89zwlzluV5/D1Yon4qPNfzvWYfU+WVDAK+rEyC+Byb3j16wjDsffzvPZR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQQHtNro4l3z90UkVvz/4TQJR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijAdoX3JhbmdllF2UKEc/3yWOrk17QEdALf6HZVzGs2WMB2ZfcmFuZ2WUXZQoR0FIP1R5bFAAR0FInR0bI9AAZYwCZGOUSw91Lg==
