#[gcode_macro AUTO_INSERT_FILAMENT]
#gcode:
#    {% set target = printer.extruder.target|int %}
#
#    M117 Filamento detectado
#    G4 P1000
#
#    {% if target < 180 %}
#        M109 S220
#    {% elif printer.extruder.temperature < target %}
#        M109 S{target}
#    {% endif %}
#
#    LOAD_FILAMENT

#####################################################################
# AUTO_LOAD_FILAMENT
# Apollo Filament Suite
#####################################################################

[gcode_macro AUTO_LOAD_FILAMENT]
description: Carga automática de filamento

gcode:

    ############################################################
    # No ejecutar durante una impresión
    ############################################################

    {% if printer.print_stats.state != "printing" %}

        ########################################################
        # Configuración
        ########################################################

        {% set TARGET = 220 %}
        {% set heated_by_macro = printer.extruder.temperature < (TARGET - 10) %}

        ########################################################
        # LEDs
        ########################################################

        ACTIVAR_PARPADEO_CARGA

        ########################################################
        # Calentar si es necesario
        ########################################################

        {% if heated_by_macro %}
            M117 Calentando...
            M109 S{TARGET}
        {% endif %}

        ########################################################
        # Cargar filamento
        ########################################################

        LOAD_FILAMENT

        ########################################################
        # Esperar estabilización
        ########################################################

        G4 P1000

        ########################################################
        # Apagar hotend únicamente si esta macro lo calentó
        ########################################################

        {% if heated_by_macro %}
            M117 Enfriando...
            M104 S0
        {% endif %}

        ########################################################
        # Restaurar LEDs
        ########################################################

        DESACTIVAR_PARPADEO
        LUCES_OFF

        M117 Filamento cargado

    {% else %}

        M117 Impresión en curso

    {% endif %}