######################################################################
# Cancel print
######################################################################
[gcode_macro CANCEL_PRINT]
description: Cancela el actual trabajo de impresión
rename_existing: CANCEL_PRINT_BASE
gcode:
  LUCES_CANCELADO
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

  #Playing tone
  #M300 S440 P200
  #M300 S660 P250
  #M300 S880 P300
  #Alarma
  # Preparando la extrusora despues de la finalización
  G91                          # Posicionamiento relativo               
  G1 E-2 F2700                 # Retrae 2 mm. de filamento                
  G1 E-2.5 Z0.2 F1250 #2400    # Retrae 1.5 mm. de filamento, al tiempo que eleva la boquilla 0.2 mm.                   
  G1 X5 Y5 F1250 #6000         # Aleja X & Y, 5 mm. del ultimo punto de impresión                                    
  G90                          # Posicionamiento absoluto

  # Moving up 5 mm and going ahead
  G1 Z{printer.toolhead.position.z + 5} F600
  G90
  G1 X226 Y218 F2500

  # Disabling motors
  M84 X Y E  
  M107   

  LUCES_CANCELADO
