[gcode_macro G28]
description: Cambia el gcode original G28, auto home, y le añade sonidos y efectos luminosos
rename_existing: G28.1
gcode:
     {% set ejes = params %}
     # 1. Poner LEDs en AZUL mientras hace el home
     SET_LED LED=luces_cabezal RED=0.0 GREEN=0.0 BLUE=1.0 TRANSMIT=1
     #M118 Ejes {ejes}
     G28.1 AXIS={ejes}
     # 3. Al terminar, volver a blanco o verde (según prefieras)
     SET_LED LED=luces_cabezal RED=1.0 GREEN=1.0 BLUE=1.0 TRANSMIT=1