[gcode_macro G28]
description: Cambia el gcode original G28, auto home, y le añade sonidos y efectos luminosos
rename_existing: G28.1
gcode:
     {% set ejes = params %}
     #BEEP
     #Beep2
     led_warning
     #M118 Ejes {ejes}
     G28.1 AXIS={ejes}
     _led_verde