######################################################################
# Ajusta el PID de la boquilla
######################################################################

[gcode_macro PID_Extruder]
description: Calibracion del PID que controla la temperatura de la boquilla
gcode:
	#BEEP
	led_warning
	
        M117 "Procediendo a calibrar el PID de la extrusora."
		M117 "despues de acabar y guardar los datos,"
		M117 "el sistema se reiniciará"

	centrado
	_led_rojo

	PID_CALIBRATE HEATER=extruder TARGET=220
	#BEEP
        M117 "Ajuste acabado, ahora el sistema se reiniciará."
		#G4 P3000 ; Mantiene el texto en pantalla tres segundos y despues avanza
	SAVE_CONFIG    

	centrado

	_led_atencion          

########################################################################