#[gcode_macro PRIME_LINE]
#gcode: 
#    M117 Prime Line
#    G92 E0 ;Reset Extruder
#    # move z axis 
#    G1 Z2.0 F3000 ;Move Z Axis up
#    # move to prime position 
#    G1 X3.5 Y0 Z0.28 F5000.0 ;Move to start position
#    G1 X3.5 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
#    G1 X4 Y200.0 Z0.28 F5000.0 ;Move to side a little
#    G1 X4 Y50 Z0.28 F1500.0 E30 ;Draw the second line
#    G92 E0 ;Reset Extruder
#    G1 Z2.0 F3000 ;Move Z Axis up
#	G1 E-2 F300 ; retract a little bit

[gcode_macro PRIME_LINE]
gcode:
    G92 E0                               ; Restablecer Extrusor
    G1 Z2.0 F3000                        ; Mover eje Z para evitar rayar
    G1 X75 Y-8 Z0.28 F5000.0             ; Mover a la posición de inicio (Frente-Izquierda)
    G1 X152 Y-8 Z0.28 F1500.0 E15        ; Dibujar la primera línea hacia la derecha
    G1 X152 Y-7.60 Z0.28 F5000.0         ; Moverse un poco hacia atrás
    G1 X75 Y-7.60 Z0.28 F1500.0 E30      ; Dibujar la segunda línea de vuelta
    G92 E0                               ; Restablecer Extrusor
    G1 Z2.0 F3000                        ; Levantar Z antes de empezar    