######################################################################
# Start Print
######################################################################

[gcode_macro START_PRINT]
description: Arranca el proceso de impresión
gcode:
      # Define las dimensiones maximas de la impresora
      {% set X_MAX = printer.toolhead.axis_maximum.x|default(228)|float %}
      {% set Y_MAX = printer.toolhead.axis_maximum.y|default(208)|float %}
      {% set Z_MAX = printer.toolhead.axis_maximum.z|default(250)|float %}

      # Carga skew

      SKEW_PROFILE LOAD=CaliFlower
      
      # Captura las temperaturas de la primera capa desde el Gcode que ha creado el Slicer
      {% set PROBE_TEMP = 150 %}
      {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
      {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(205)|float %}
      {% set MATERIAL = params.MATERIAL_TYPE|default("NONE")|string %} # <--- Lee el material

      # 1. Llamar a la estabilización inteligente
      # Le pasamos el TARGET que el slicer nos dio
      SMART_BED_STABILIZE TARGET={BED_TEMP} TYPE={MATERIAL} # <--- Se lo pasa a la otra macro

      # Precalienta la cama y la boquilla
      M104 S150 T0 #M104 S{EXTRUDER_TEMP} T0                        
      M140 S{BED_TEMP}          

      
        #M118 ***************************************
        #M118           Empieza la Impresión
        #M118 ***************************************

        M117           Empieza la Impresión

      # Hace Home a los tres ejes, con el sistema en frio, para separar el Bltouch, o el sensor de nivelación, de la cama
      #Iniciar  # Hace sonar el pito
      G90   # Posicionamiento absoluto
      G28   # Inicializa las posiciones, "Home", "Bilinear"

      # Centra y separa la extrusora de la cama, para no calentar el BLTouch o sensor innecesariamente      
      G1 X{X_MAX/2.0} Y{Y_MAX - 20} Z{100} F6000


      # Hace Home a los tres ejes
      #M118 Inicializando posiciónamiento 'HOME'
      M117 Inicializando posiciónamiento 'HOME'
      #Beep2  # Hace sonar el pito
      G90   # Posicionamineto absoluto
      #G28   # Inicializa las posiciones, "Home", "Bilinear"
      #M118 Posiciónamiento 'HOME' Terminado
      M117 Posiciónamiento 'HOME' Terminado
      G4 P500  # Retardo de medio segundo, durante el cual la luz estará encendida en verde tras completar el proceso de Home

      # Ejecuta el ajuste z tilt, para que el travesaño Z esté paralelo a la cama
      #M118 Ajustando simetria en motores eje Z
      M117 Ajustando simetria en motores eje Z
      _LED_ROJO
      _LED_ABAJO
      #Z_TILT_ADJUST
      #M118 Simetria ajustada
      #M117 Simetria ajustada
      
      # Ejecuta limpieza de nozzle
      #
      M117 Limpiando Nozzle
      # Precalienta la cama y la boquilla
      M109 S170 T0 #M104 S{EXTRUDER_TEMP} T0                        
      M140 S{BED_TEMP}        
      _LED_ROJO
      _LED_ABAJO
      CLEAN_NOZZLE
      # Precalienta la cama y la boquilla
      M109 S150 T0 #M104 S{EXTRUDER_TEMP} T0                        
      M140 S{BED_TEMP}        
      CLEAN_NOZZLE
      M117 Limpieza Terminada
       
      # Nivelación automatica de la cama, si la vas a usar has de elegir una de las dos opciones
      #M118 Creando malla de nivelacion
      M117 Creando malla de nivelacion
      #M109 S150 T0 #M104 S{EXTRUDER_TEMP} T0                        
      M140 S{BED_TEMP}
      M190 S{BED_TEMP}
      M104 S190
      M109 S{PROBE_TEMP}
      G1 X114 Y108 Z4 F5000.0
      PROBE_EDDY_NG_TAP
      #BED_MESH_CALIBRATE ADAPTIVE=1 # Crea una nueva malla a cada impresión
      #BED_MESH_CALIBRATE METHOD=rapid_scan ADAPTIVE=0
      EDDYNG_BED_MESH_EXPERIMENTAL
      #BED_MESH_PROFILE LOAD=default # Carga la malla previamente creada y guardada
      #M118 Malla creada
      M117 Malla creada
      _led_atencion

      #Kamp Smart Park
      #M117 Smart Park cerca de Impresion
      #Smart_Park
      #M117 Posicionamiento Conseguido
      # Ir a un punto inicial antes de empezar a imprimir X=5 Y=5 Z=10 
      G92 E0  # Ordena la parada del motor de la extrusora
      G90     # Posicionamineto absoluto
      G1 X84.60 Y-16 Z10 F6000 #G1 X5 Y5 Z10 F6000 # 1250 #20230707

      # Calienta la cama y la boquilla
      _LED_AZUL
      #M118 Esperando la temperatura correcta, calentando
      M117 Esperando la temperatura correcta, calentando
      M190 S{BED_TEMP}                               
      M109 S{EXTRUDER_TEMP} T0    
      #M118 Temperatura de trabajo alcanzada
      M117 Temperatura de trabajo alcanzada
      _led_atencion


      # Ir a un punto inicial antes de empezar a imprimir X=0 Y=0 Z=10 
      ##G90   # Posicionamineto absoluto
      ##G1 X5 Y0 Z10 F6000 #2000 #1500 #1000

      _LED_EXTREMOS

      # Prime line
      M117 Haciendo lineas de purga
      #Line_Purge
      PRIME_LINE  #linea propia
      M117 Printing...
      #G92 E0 
      #G1 X10 Y1 Z0.28 F2000
      #G1 X225 Y1 Z0.28 E25 F1000
      #G92 E0 
      #G1 X225 Y1.03 Z0.28
      #G1 X10 Y1.03 Z0.28

      # Dibuja la segunda linea de purga
      #G92 E0 
      #G1 X10 Y2.5 Z0.28 F2000
      #G1 X225 Y2.5 Z0.28 E25 F1000
      #G92 E0 
      #G1 X225 Y2.53 Z0.28
      #G1 X10 Y2.53 Z0.28

      # Ir a un punto inicial antes de empezar a imprimir X=5 Y=5 Z=10 
      G92 E0  # Ordena la parada del motor de la extrusora
      G90     # Posicionamineto absoluto
      G1 X84.60 Y-16 Z10 F6000 #G1 X5 Y5 Z10 F6000 # 1250 #20230707

      # Imprimiendo
      #M118 Imprimiendo
      #M117 Imprimiendo

      _LED_PRINTING