#####################################################################
#                                                                   #
#              Apollo Filament Suite (AFS)                          #
#                                                                   #
# Version : 1.0.0                                                   #
# Build   : 001                                                     #
#                                                                   #
# Printer : Ender 5 Pro                                             #
# Toolhead: Apollo Lander                                           #
# Extruder: HGX Lite                                                #
# Hotend  : V6 Ceramic                                              #
# Firmware: Kalico / Klipper                                        #
# UI      : HelixScreen                                             #
# Slicer  : OrcaSlicer                                              #
#                                                                   #
#####################################################################

#####################################################################
# AFS GLOBAL SETTINGS
#####################################################################

[gcode_macro AFS_SETTINGS]
description: Apollo Filament Suite Global Variables

############################
# GENERAL
############################

variable_version: "1.0.0"
variable_build: 1

variable_debug: False
variable_enable_messages: True
variable_enable_leds: True

############################
# MATERIAL
############################

variable_material: "PLA"

############################
# PRIME
############################

variable_prime_pla: 0.30
variable_prime_petg: 0.45
variable_prime_abs: 0.40
variable_prime_asa: 0.42
variable_prime_tpu: 0.50

############################
# PURGE
############################

variable_purge_pla: 8
variable_purge_petg: 10
variable_purge_abs: 8
variable_purge_asa: 8
variable_purge_tpu: 12

############################
# LOAD
############################

variable_load_fast_length: 90
variable_load_fast_speed: 4200

variable_load_slow_length: 15
variable_load_slow_speed: 300

############################
# UNLOAD
############################

variable_unload_push: 6

variable_unload_break: 2

variable_unload_length: 105

variable_unload_fast_speed: 5000

variable_unload_medium_speed: 3000

variable_unload_slow_speed: 1200

############################
# WIPE
############################

variable_wipe_distance: 2

variable_wipe_speed: 1800

############################
# PAUSE
############################

variable_pause_timeout: 180

variable_idle_temperature: 170

############################
# PARK
############################

variable_park_x: 218

variable_park_y: 58

variable_park_z: 20

############################
# TEMPERATURE
############################

variable_temp_margin: 5

gcode: