#####################################################################
#
# Apollo Filament Suite
#
# Archivo : afs_globals.cfg
# Version : 1.0.0
#
#####################################################################

[gcode_macro AFS_STATE]
description: Variables internas de Apollo Filament Suite

# 0 = Operación normal
# 1 = Cambio de filamento en progreso

variable_filament_change: 0

gcode: