#####################################################################
#
# Apollo Filament Suite (AFS)
#
# Archivo : test_unload.cfg
# Version : 0.1.0
# Build   : 001
#
# Objetivo:
# Probar diferentes algoritmos de descarga para HGX Lite + V6 Cerámico
#
#####################################################################


#####################################################################
# TEST 01
#
# Empuje + Retracción
#####################################################################

[gcode_macro TEST_UNLOAD_01]
description: Test básico de descarga
gcode:

    {% if printer.extruder.temperature < 200 %}
        RESPOND TYPE=error MSG="Calienta el hotend primero."
        M117 Hotend frio
        {% exit %}
    {% endif %}

    M117 TEST 01

    SAVE_GCODE_STATE NAME=TEST01

    G91
    G92 E0

    G1 E5 F180
    G4 P300

    G1 E-105 F4800

    RESTORE_GCODE_STATE NAME=TEST01

    M117 TEST 01 Finalizado