####################################################################################################
#       Macros relacionadas con los led Neopixel
####################################################################################################
# led_apagar: Pone a cero todos los leds
# _led_printing: Pone la combinacion base de colores para imprimir
# _led_atencion: Pone la combinacion de colores de maquina no operativa
# _led_random: Enciende luces de colores aleatorios en cada led
# led_blanco: Enciende con luz blanca todos los leds
# _led_verde: Enciende leds en verde
# _led_amarillo: Enciende leds en amarillo
# _led_rojo: Enciende leds en rojo
# _led_azul: Enciende leds en azul
# _led_naranja: Enciende leds en naranja
# _led_cyan: Enciende leds en cyan
# _led_extremos: Enciende leds en blanco en los extremos de las tiras 1 y 8
# _led_centro: Enciende 2 leds en blanco en el centro de las tiras 4 y 5
# _led_centrado: Enciende 4 leds en blanco alrededor del centro de las tiras 2,3,6 y 7
# _led_arriba: Enciende 2 leds en blanco en la parte superior de las tiras 7 y 8
# _led_abajo: Enciende 2 leds en blanco en la parte inferior de las tiras 1 y 2
# _led_timeout: Enciende leds en rojos, a bajo brillo, en la parte superior e inferior de las tiras
####################################################################################################

[gcode_macro LUCES_CALENTANDO]
gcode:
    SET_LED LED=luces_cabezal RED=1.0 GREEN=0.0 BLUE=0.0   # Rojo

[gcode_macro LUCES_IMPRIMIENDO]
gcode:
    SET_LED LED=luces_cabezal RED=1.0 GREEN=1.0 BLUE=1.0   # Blanco

[gcode_macro LUCES_LISTO]
gcode:
    SET_LED LED=luces_cabezal RED=0.0 GREEN=1.0 BLUE=0.0   # Verde

[gcode_macro LUCES_OFF]
gcode:
    SET_LED LED=luces_cabezal RED=0.0 GREEN=0.0 BLUE=0.0   # Apagado

[gcode_macro LUCES_NIVELANDO]
gcode:
    # Color Naranja/Amarillo para diferenciar del calentamiento
    SET_LED LED=luces_cabezal RED=1.0 GREEN=0.5 BLUE=0.0 

[gcode_macro LUCES_CANCELADO]
gcode:
    # Rojo intenso para indicar interrupción
    SET_LED LED=luces_cabezal RED=1.0 GREEN=0.0 BLUE=0.0
    G4 P500 # Espera medio segundo
    SET_LED LED=luces_cabezal RED=0.0 GREEN=0.0 BLUE=0.0
    G4 P500 # Apaga medio segundo
    SET_LED LED=luces_cabezal RED=1.0 GREEN=0.0 BLUE=0.0 # Se queda en rojo

[gcode_macro LUCES_PAUSA]
gcode:
    # Color Azul Cian (un color frío que indica espera)
    SET_LED LED=luces_cabezal RED=0.0 GREEN=1.0 BLUE=1.0 

[gcode_macro LUCES_CAMBIO_FILAMENTO]
gcode:
    SET_LED LED=luces_cabezal RED=1.0 GREEN=0.0 BLUE=1.0 # Magenta

[gcode_macro LUCES_CARGANDO]
gcode:
    SET_LED LED=luces_cabezal RED=1.0 GREEN=1.0 BLUE=0.0 # Amarillo

[gcode_macro LUCES_DESCARGANDO]
gcode:
    SET_LED LED=luces_cabezal RED=1.0 GREEN=0.4 BLUE=0.0 # Naranja
    
[gcode_macro EFECTO_CARGA]
gcode:
    {% for i in range(1, 5) %}
        SET_LED LED=luces_cabezal RED=0.5 GREEN=0.0 BLUE=0.5 INDEX={i}
        G4 P200 # Espera 200ms entre cada LED
    {% endfor %}

[display_template led_parpadeo_cargando]
text:
    {% if (printer.toolhead.estimated_print_time|int % 2) == 0 %}
        1.0, 1.0, 0.0, 0.0  # Amarillo encendido
    {% else %}
        0.0, 0.0, 0.0, 0.0  # Apagado
    {% endif %}

[display_template led_parpadeo_descarga]
text:
    {% if (printer.toolhead.estimated_print_time|int % 2) == 0 %}
        1.0, 0.4, 0.0, 0.0  # Naranja encendido
    {% else %}
        0.0, 0.0, 0.0, 0.0  # Apagado
    {% endif %}

[gcode_macro ACTIVAR_PARPADEO_CARGA]
gcode:
    SET_LED_TEMPLATE LED=luces_cabezal TEMPLATE=led_parpadeo_cargando

[gcode_macro DESACTIVAR_PARPADEO]
gcode:
    SET_LED_TEMPLATE LED=luces_cabezal TEMPLATE=

[gcode_macro _led_amarillo]
gcode:
    SET_LED LED=luces_cabezal RED=1.0 GREEN=1.0 BLUE=0.0 TRANSMIT=1

[gcode_macro led_blanco]
gcode:
    SET_LED LED=luces_cabezal RED=1.0 GREEN=1.0 BLUE=1.0 TRANSMIT=1

[gcode_macro PRECALENTAR_LEVELING]
gcode:
    _led_amarillo
    M140 S60
    M104 S150
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=145 MAXIMUM=155
    LUCES_LISTO

[gcode_macro PRECALENTAR_PLA]
gcode:
    _led_amarillo
    M140 S60
    M104 S195
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=190 MAXIMUM=200
    LUCES_LISTO

[gcode_macro PRECALENTAR_PETG]
gcode:
    _led_amarillo
    M140 S80
    M104 S240
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=235 MAXIMUM=245
    LUCES_LISTO

[gcode_macro PRECALENTAR_ABS]
gcode:
    _led_amarillo
    M140 S90
    M104 S220
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=215 MAXIMUM=225
    LUCES_LISTO

[gcode_macro PRECALENTAR_ASA]
gcode:
    _led_amarillo
    M140 S90
    M104 S220
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=215 MAXIMUM=225
    LUCES_LISTO

[gcode_macro PRECALENTAR_FLEX]
gcode:
    _led_amarillo
    M140 S50
    M104 S210
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=205 MAXIMUM=215
    LUCES_LISTO

[gcode_macro PRECALENTAR_LIMPIEZA]
gcode:
    led_blanco
    M104 S240
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=235 MAXIMUM=245
    LUCES_LISTO



###############################################################################################################

# Sintaxis final de todas las macros de leds, se les ha añadido a la mayoria el guion bajo _ antes del nombre
# para que no aparezcan en Fluidd o Klipper, como botones para ejecutar macros

# led_warning
# led_capa
# led_blanco
# led_apagar

# _led_abajo
# _led_arriba
# _led_centrado
# _led_centro
# _led_extremos
# _led_cyan
# _led_naranja
# _led_azul
# _led_rojo
# _led_verde
# _led_random
# _led_atencion
# _led_printing
# _led_timeout

